<div>
    <div class="text-productos">
        {{ctg | uppercase}}
    </div>
    <div>
        <div class="row row-cols-1 row-cols-md-6 g-4" >
            <div class="col" *ngFor="let Producto of productos">
              <div class="card h-100">
                <div class="img-center">
                  <img src="{{Producto.image}}" class="card-img-top img-producto" alt="{{Producto.title}}">
                </div>
                <div class="card-body prod-body">
                    <h5 class="card-title prod-text">{{Producto.title}}</h5>
                    <div class="precio-prod">
                        <p class="card-text">Precio</p>
                        <p class="card-text price">S/. {{Producto.price}}</p>
                    </div>
                        <div class="boton-prod">
                        <button type="button" class="btn btn-danger">Agregar</button>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>