* {
    box-sizing: border-box;
  }
  html,
  body {
    background: white;
  }
  h1 {
    margin: 0;
    padding: 0;
  }

  /*Login*/

  .text-bienvenida {
    text-align: center;
    color: red;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 22px;
  }

  .text-slogan {
    width: 100%;
  }

  .custom-form {
    min-width: 200px;
    text-align: center;
    max-width: 25%;
    margin: 0px auto;
    padding: 1rem 2rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: white;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #cbced1;
    color: red;
  }

  .custom-form button {
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: red;
    background-color: yellow;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: block;
    border-radius: 1.5rem;
  }

  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    border: 0 none;
    background: #cbced1;
  }

  .img-login {
    margin-top: 3%;
    text-align: center;
  }

  /*Categorías*/
  .text-ctg {
    font-size: 22px;
    color: rgb(45, 45, 134);
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
  }

  .text-categorias {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /*Productos*/
  .text-productos {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .img-center {
      text-align: center !important;
  }

  .img-producto {
      height: 100px;
  }

  .prod-text {
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      height: 100px;
  }

  .precio-prod {
      height: 70px;
      font-size: 12px;
  }

  .price {
      font-size: 16px;
      font-weight: bold;
      color: red !important;
  }

  .boton-prod {
      height: 30px;
      text-align: center !important;
  }