<div>
    <div class="text-ctg">
        Hola Rodrigo!
    </div>
    <div class="text-categorias">
        Categorías
    </div>
    <div>
        <div class="row row-cols-1 row-cols-md-4 g-4" >
            <div class="col" *ngFor="let Categoria of categorias">
              <div class="card h-100">
                <div>
                  <img src="../../../assets/images/{{Categoria + '.jpg'}}" class="card-img-top" alt="{{Categoria}}">
                </div>
                <div class="card-body">
                  <h5 class="card-title" (click)="irProductos(Categoria)">{{Categoria}}</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>