<div>
    <div class="text-bienvenida">
        <strong>APROVECHA</strong>
        <br>
        <strong>LOS MEJORES PRECIOS</strong>
        <br>
        QUE TENEMOS PARA TI 
    </div>
    <div class="login">
        <form class="custom-form" method="post">
            <strong>INGRESA TU DNI</strong>
            <br>
            y obtén descuentos exclusivos

            <input type="dni" [(ngModel)]="dni" name="dni" placeholder="Ejemplo: 73130183" required="required"/>
            <button type="submit" (click)="login()">Ingresar</button>
        </form>
    </div>
    <div class="img-login">
        <img src="./../../../assets/images/logo_pv.png">
    </div>
</div>